.container {
  max-width: 900px;
  padding: 50px 50px;
}

/* .App {
  background-color: rgb(250, 238, 223);
  padding: 10px 50px 200px 20px;
  border-radius: 10px;
} */

section {
  border: 1px solid rgb(245, 241, 241);
  border-radius: 8px;
  padding: 20px 20px 20px 40px;
  margin-top: 20px;
  background-color: rgb(245, 241, 241);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
